* {
  padding: 0;
  margin: 0;
}
h2 {
  font-family: ui-sans-serif;
  font-style: italic;
}
h1 {
  font-weight: bold;
  padding: 20px 0;
  padding-left: 50px;
}
a {
  color: #000;
  text-decoration: none;
}
.header {
  width: 96%;
  margin: auto 25px;
  border-bottom: 2px solid #000;
  text-align: center;
  padding-top: 20px;
  position: relative;
}
.header span {
  position: absolute;
  right: 10px;
}
/*.bialogiya {*/
/*  display: flex;*/
/*  padding-bottom: 20px;*/
/*}*/
.left {
  border-right: 2px solid #000;
  padding: 10px 30px;
  margin-left: 345px;
}
.right {
  padding: 10px 30px;
}
.b1 {
  display: flex;
}
.b2 {
  display: flex;
  padding-top: 30px;
}
.b3 {
  display: flex;
  padding-top: 30px;
}
.b4 {
  display: flex;
  padding-top: 30px;
}
.b5 {
  display: flex;
  padding-top: 30px;
}
.b6 {
  display: flex;
  padding-top: 30px;
}
.b7 {
  display: flex;
  padding-top: 30px;
}
.b8 {
  display: flex;
  padding-top: 30px;
}
.b9 {
  display: flex;
  padding-top: 30px;
}
.b10 {
  display: flex;
  padding-top: 30px;
}
.n-1,
.n-2,
.n-3,
.n-4,
.n-5,
.n-6,
.n-7,
.n-7,
.n-8,
.n-9,
.n-10 {
  font-weight: bold;
}
.t-1 {
  padding-top: 10px;
  line-height: 28px;
}
.t-2 {
  padding-top: 5px;
}
.t-3 {
  padding-top: 5px;
}
.t-4 {
  padding-top: 5px;
}
.t-5 {
  padding-top: 5px;
}
.t-6 {
  padding-top: 5px;
}
.t-7-div {
  padding-top: 20px;
  line-height: 15px;
  padding-right: 10px;
  display: flex;
}
.t-7-div1 {
  padding-right: 0px;
}
.t-8 {
  padding-top: 15px;
  line-height: 25px;
}
.t-9 {
  padding-top: 5px;
}
.t-10 {
  padding-top: 5px;
}
div {
  padding-left: 10px;
}
.b7 .t-7-div2 p {
  font-family: ui-sans-serif;
  font-style: italic;
  font-size: 18px;
}
.down {
  padding-left: 380px;
  padding-bottom: 10px;
}
.down > p {
  font-family: ui-sans-serif;
  font-style: italic;
  font-size: 18px;
}
