{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Example 1</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000{% static 'css/style.css' %}" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="http://127.0.0.1:8000{% static 'img/logo.jpg' %}">
      </div>
      <h1>Buyurtma: {{ order.id }}</h1>
      <div id="company" class="clearfix">
        <div>Sana: {{ order.created_at }}</div>
        <div>Buyurtmachi: {{ order.purchaser }}</div>
      </div>
    </header>
    <main>
        {% for order_item in order.items.all %}
              <div>
                <div class="service">
                 {{ forloop.counter }}. {{ order_item.question.title }}
                </div>
                {% for variant in order_item.question.variants.all %}
                    <div>
                        {{ variant.title }}).{{ variant.description|safe }}
                    </div>
                {% endfor %}
              </div>
            {% endfor %}
    </main>
  </body>
</html>