{% load pdf_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DTM testi</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/style.css" media="all"/>
    <style>
        .page-breaker {
            page-break-before: always;
        }
    </style>
</head>
<body>
<table style="width: 100%">
    {% for order_item in order.items.all %}
        <tr class="header page-breaker">
            <th colspan="4">{{ order_item.subject.title }} fanidan savollar</th>
        </tr>
        {% for question_item in order_item.order_items.all %}
            <tr>
                <td colspan="4">{{ forloop.counter }}. {{ question_item.question.description }}</td>
            </tr>
            <tr>
                {% for variant in question_item.question.variants.all %}
                    <td>{{ variant.get_title_display }}) {{ variant.description|safe|replace_with_svg }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}
</table>
</body>
</html>